@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0b0b;
  color: white;
  font-family: 'Poppins', sans-serif;
}

button {
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}
